* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Poppins;
}

.navbar-container {
    margin: 3%;
}

.logo-container, .grow-list, .button-group, .list-item {
    display: inline-block;
}

.logo-container > img {
    width: 100px;
}

.grow-list {
    margin-top: 0.5%;
    vertical-align: top;
    width: 42%;
}

.list {
    list-style: none;
}

.list-item {
    margin-left: 10%;
    color: grey;
}
.list-item:hover {
    cursor: pointer;
}


.list-item:first-child {
    color: black;
}

.button-group {
    float: right;
}

.contact-us-button {
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100px;
    height: 40px;   
    border-radius: 5px;
    color: white;
    background-color: #5955b3;
    border: none;   
}

.contact-us-button:hover {
    cursor: pointer;
}


.right > img {
    position: absolute;
    top: 20%;
    right: 0;
    width: 700px;
}

.left {
    margin-left: 3%;
    width: 40%;
}

.heading-text {
    color: #3c2f60;
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 2%;
}

.heading-text > span {
    color: #817ec5;
}

.description {
    width: 70%;
    color: grey;
    margin-bottom: 5%;  
}

.btn {
    color: white;
    background-color: #5955b3;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: 8rem;
}

.btn:hover {
    cursor: pointer;
}
